<div class = "text-center"> 
	ROCK PAPER SCISSORS DYNAMITE 
	<br />
	Who would win?
</div>
<div id = "wrap">
	<body>
		<br /><br /><br /> <br />
		<div class = "container text-center content">
			<%=@player1.name.upcase %> vs. <%= @player2.name.upcase %>

		</div>
		<div class = "clr"></div>
		<br /><br /><br /> <br />
	<div class = "text-center">
		PROFILES
		<br />
		<div class = "pull-left" >
		<%= link_to "PLAYER 1", player_path(@player1) %>
		<br />
		<%= link_to "Vote!", user_player_Winner_path(current_user, @player1), :class => 'btn btn-primary', method: :put %>
		
		</div>
		<div class = "pull-right" >
		<%= link_to "PLAYER 2", player_path(@player2) %>
		<br />
		<%= link_to "Vote!", user_player_Loser_path(current_user, @player2), :class => 'btn btn-primary', method: :put %>
		</div>

		</div>
</div>

	</body>
<br />
    <div id="footer">
      <div class="container text-center">
      </div>
    </div>
