<!DOCTYPE html>
<html>
<head>
  <title>Rpxd</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br />
<br />
<br />
</body>
    <div id="footer">
      <div class="container text-center">

      <%= link_to 'Home', root_path %>&nbsp; &nbsp; &nbsp;
      <%= link_to 'Player Profiles', players_path %> &nbsp; &nbsp; &nbsp;
      <%= link_to 'Submit your own', new_player_path %>&nbsp; &nbsp; &nbsp;
        <% if notice.present? %>
          <p class="alert alert-info"><%= notice %> </p>
        <% end %>
        <% if alert.present? %>
          <p class="alert alert-danger"><%= alert %> </p>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
          &nbsp; &nbsp;
          <%= link_to 'View My Profile', user_path(current_user) %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path %>
            <% end %>

      </div>
      </div>
  </div>
</html>
